<!-- ##############################################     ABOVE BODY     ############################################# -->

        <div class="footer-top-area">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="footer-about-us">
                            <h3 class="footer-wid-title">Alex Botelho & Ltda</h3>
                            <p>Nos orgulhamos em possuir um time de consultores de alta maturidade, mentalidade e atitude necessárias para garantir resultados de forma ágil e assertiva.</p>
                            <div class="footer-social">
                                <a href="/sitecpe/" target="_self"><i class="fa fa-globe"></i></a>
                                <a href="mailto:alexbotelho1@hotmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                                <a href="45-98413-6611" target="_self"><i class="fa fa-phone"></i></a>
                                <a href="https://www.linkedin.com/in/alex-botelho-almeida/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/alexbotelhoa" target="_blank"><i class="fa fa-github"></i></a>
                                <a href="https://www.facebook.com/alexbotelhoa" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/alexbotelhoa" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.youtube.com/channel/UC6N_L0nZWRjcym8bnChKppw" target="_blank"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- End footer top area -->

        <div class="footer-bottom-area">
            <div class="container">
                <div class="copyright">
                    <p>&copy; 2020 - By Alex Botelho - <a href="https://www.linkedin.com/in/alex-botelho-almeida/" target="_blank">alex-botelho-almeida</a> <i class="fab fa-linkedin-in"></i></p>
                </div>
            </div>
        </div>

        <!-- Theme JS -->
        <script src="/res/cpe/site/js/script.js"></script>
        <script src="/res/cpe/site/js/app.min.js"></script>

    </body>
</html>