<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <section class="content">
        <div class="row">

            <section class="container">
                <ol class="breadcrumb">
                    <li><a href="/sitecpe/"><i class="fa fa-tachometer"></i> Home</a></li>
                    <li><a href="/sitecpe/payments">Pagamentos</a></li>
                    <li class="active"><a href="/sitecpe/payments/{$payment.idclient}/detail">Cliente</a></li>
                    <li class="active"><a href="/sitecpe/payments/{$payment.idpayment}/update">Editar</a></li>
                </ol>
            </section>

            <section class="container">
                <h2>Editar Pagamento</h2>
            </section>

            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">

                            <form role="form" action="/sitecpe/payments/{$payment.idpayment}/update" method="post" enctype="multipart/form-data">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="idpayment">ID do Pagamento</label>
                                        <input type="text" class="form-control" id="idpayment" readonly name="idpayment" step="0.01" placeholder="0.00" value="{$payment.idpayment}">
                                    </div>

                                    <div class="form-group">
                                        <label for="idclient">Nome do Cliente</label>
                                        <select class="form-control" name="idclient">
                                            {loop="$clients"}
                                            <option {if="$value.id == $payment.idclient"} selected="selected" {/if} value="{$value.id}">{$value.nome}</option>
                                            {/loop}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="idplan">Nome do Plano</label>
                                        <select class="form-control" name="idplan">
                                            {loop="$plans"}
                                            <option {if="$value.idplan == $payment.idplan"} selected="selected" {/if} value="{$value.idplan}">{$value.desplan}  -  R$ {function="formatPrice($value.vlplan)"}</option>
                                            {/loop}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="vlrecurrence">Recorrência do Pagamento</label>
                                        <select class="form-control" name="vlrecurrence">
                                            <option {if="$payment.vlrecurrence == 1 "} selected="selected" {/if} value="1">1 Mês</option>
                                            <option {if="$payment.vlrecurrence == 3 "} selected="selected" {/if} value="3">3 Meses</option>
                                            <option {if="$payment.vlrecurrence == 6 "} selected="selected" {/if} value="6">6 Meses</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="dtpayment">Data do Pagamento</label>
                                        <input type="date" class="form-control" id="dtpayment" name="dtpayment" step="0.01" placeholder="dd/mm/yyy" value="{$payment.dtpayment}">
                                    </div>

                                    <div class="form-group">
                                        <label for="vlpayment">Valor do Pagamento</label>
                                        <input type="text" class="form-control" id="vlpayment" readonly name="vlpayment" step="0.01" placeholder="0.00" value="R$ {function="formatPrice($payment.vlpayment)"}">
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="col-md-8 col-xs-6">
                                        <button type="submit" class="btn btn-success">Salvar</button>
                                    </div>
                                    {if="$error != ''"}
                                    <div class="col-md-4 col-xs-6">
                                        <div class="box-header bg-red" align="center">
                                            {$error}
                                        </div>
                                    </div>
                                    {/if}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>
</div>