<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <section class="content">
        <div class="row">

            <!-- Content Header (Page header) -->
            <section class="container">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fas fa-tachometer-alt"></i> Home</a></li>
                    <li><a href="/payments">Pagamentos</a></li>
                    <li class="active"><a href="/payments/{$idclient}/create">Cadastrar</a></li>
                </ol>
            </section> <!-- /.content-header -->

            <section class="container">
                <h1>
                    Cadastrar Pagamento
                </h1>
            </section> <!-- /.content-header -->

            <!-- Main content -->
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-success">

                            <!-- form start -->
                            <form role="form" action="/payments/{$idclient}/create" method="post">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="idclient">Nome Cliente</label>
                                        <input type="text" class="form-control" id="idclient" name="idclient" step="0.01" placeholder="Informe o ID do Cliente">

                                        <!--
                                        <select class="form-control" name="idclient">
                                            {loop="$clients"}
                                            <option value="{$value.idclient}">{$value.desclient}</option>
                                            {/loop}
                                        </select>
                                        -->

                                    </div>
                                    <div class="form-group">
                                        <label for="idplan">Nome Plano</label>
                                        <select class="form-control" name="idplan">
                                            {loop="$plans"}
                                            <option value="{$value.idplan}">{$value.desplan}  -  R$ {function="formatPrice($value.vlplan)"}</option>
                                            {/loop}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="vlrecurrence">Recorrência</label>
                                        <select class="form-control" name="vlrecurrence">
                                            <option value="1">1 Mês</option>
                                            <option value="3">3 Meses</option>
                                            <option value="6">6 Meses</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="dtpayment">Data Pagamento</label>
                                        <input type="date" class="form-control" id="dtpayment" name="dtpayment" step="0.01" placeholder="dd/mm/yyyy">
                                    </div>
                                </div> <!-- /.box-body -->

                                <div class="box-footer">
                                    <div class="col-md-8 col-xs-6">
                                        <button type="submit" class="btn btn-success">Cadastrar</button>
                                    </div>
                                    {if="$error != ''"}
                                    <div class="col-md-4 col-xs-6">
                                        <div class="box-header bg-red">
                                            {$error}
                                        </div>
                                    </div>
                                    {/if}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section> <!-- /.content -->

        </div> <!-- /.row -->
    </section> <!-- /.content -->
</div>