<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <section class="content">
        <div class="row">
            <section class="container">
                <ol class="breadcrumb">
                    <li><a href="/abasce2"><i class="fa fa-tachometer"></i> Home</a></li>
                    <li><a href="/abasce2/payments">Pagamentos</a></li>
                    {if="$idclient != ''"}
                    <li class="active"><a href="/abasce2/payments/{$idclient}/detail">Cliente</a></li>
                    <li class="active"><a href="/abasce2/payments/{$idclient}/create">Cadastrar</a></li>
                    {else}
                    <li class="active"><a href="/abasce2/payments/create">Cadastrar</a></li>
                    {/if}
                </ol>
            </section>
            <section class="container">
                <h2>Cadastrar Pagamento</h2>
            </section>
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-success">
                            <form role="form" action="/abasce2/payments/{if=" $idclient !=''"}{$idclient}/{/if}create" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="idclient">Nome do Cliente</label>
                                    <select class="form-control" name="idclient">
                                        {if="$idclient != ''"}
                                            {loop="$clients"}
                                                {if="$value.id == $idclient"}
                                                    <option selected value="{$value.id}">{$value.nome}</option>
                                                {/if}
                                            {/loop}
                                        {else}
                                            <option selected value="">Selecione o cliente</option>
                                            {loop="$clients"}
                                                <option value="{$value.id}">{$value.nome}</option>
                                            {/loop}
                                        {/if}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="idplan">Nome do Plano</label>
                                    <select class="form-control" name="idplan">
                                        <option selected value="">Selecione o plano</option>
                                        {loop="$plans"}
                                        <option value="{$value.idplan}">{$value.desplan} - R$ {function="formatPrice($value.vlplan)"}</option>
                                        {/loop}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="vlrecurrence">Recorrência do Pagamento</label>
                                    <select class="form-control" name="vlrecurrence">
                                        <option selected value="">Selecione a recorrência</option>
                                        <option value="1">1 Mês</option>
                                        <option value="3">3 Meses</option>
                                        <option value="6">6 Meses</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dtpayment">Data do Pagamento</label>
                                    <input type="date" class="form-control" id="dtpayment" name="dtpayment" step="0.01" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="col-md-8 col-xs-6">
                                    <button type="submit" class="btn btn-success">Cadastrar</button>
                                </div>
                                {if="$error != ''"}
                                <div class="col-md-4 col-xs-6">
                                    <div class="box-header bg-red" align="center">
                                        {$error}
                                    </div>
                                </div>
                                {/if}
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>