<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <section class="content">
        <div class="row">

            <!-- Content Header (Page header) -->
            <section class="container">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fas fa-tachometer-alt"></i> Home</a></li>
                    <li><a href="/payments">Pagamentos</a></li>
                    <li class="active"><a href="/payments/{$payment.idpayment}/update">Editar</a></li>
                </ol>
            </section> <!-- /.content-header -->

            <section class="container">
                <h1>
                    Editar Pagamento
                </h1>
            </section> <!-- /.content-header -->

            <!-- Main content -->
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">

                            <!-- form start -->
                            <form role="form" action="/payments/{$payment.idpayment}/update" method="post" enctype="multipart/form-data">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="idclient">Nome Cliente</label>
                                        <select class="form-control" name="idclient">
                                            {loop="$clients"}
                                            <option {if="$value.id == $payment.idclient"} selected="selected" {/if} value="{$value.id}">{$value.nome}</option>
                                            {/loop}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="idplan">Nome Plano</label>
                                        <select class="form-control" name="idplan">
                                            {loop="$plans"}
                                            <option {if="$value.idplan == $payment.idplan"} selected="selected" {/if} value="{$value.idplan}">{$value.desplan}</option>
                                            {/loop}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="vlrecurrence">Recorrência</label>
                                        <select class="form-control" name="vlrecurrence">
                                            <option {if="$payment.vlrecurrence == 1 "} selected="selected" {/if} value="1">1 Mês</option>
                                            <option {if="$payment.vlrecurrence == 3 "} selected="selected" {/if} value="3">3 Meses</option>
                                            <option {if="$payment.vlrecurrence == 6 "} selected="selected" {/if} value="6">6 Meses</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="dtpayment">Data Pagamento</label>
                                        <input type="date" class="form-control" id="dtpayment" name="dtpayment" step="0.01" placeholder="dd/mm/yyy" value="{$payment.dtpayment}">
                                    </div>
                                </div> <!-- /.box-body -->

                                <div class="box-footer">
                                    <div class="col-md-8 col-xs-6">
                                        <button type="submit" class="btn btn-success">Salvar</button>
                                    </div>
                                    {if="$error != ''"}
                                    <div class="col-md-4 col-xs-6">
                                        <div class="box-header bg-red">
                                            {$error}
                                        </div>
                                    </div>
                                    {/if}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section> <!-- /.content -->

        </div> <!-- /.row -->
    </section> <!-- /.content -->
</div>