<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <section class="content">
        <div class="row">

            <!-- Content Header (Page header) -->
            <section class="container">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-tachometer-alt"></i> Home</a></li>
                    <li class="active"><a href="/payments">Pagamentos</a></li>
                </ol>
            </section> <!-- /.content-header -->

            <section class="container">
                <div class="col-xs-7">
                    <h1>
                        Pagamentos
                    </h1>
                </div>
                <div class="col-xs-5" align="right">
                    <a href="/payments/create" class="btn btn-success">Cadastrar Pagamento</a>
                </div>
            </section> <!-- /.content-header -->

            <!-- Main content -->
            <section class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">

                            <div class="box-header">
                                {if="$success != ''"}
                                    <div class="box-header bg-green" align="center">
                                        {$success}
                                    </div>
                                {/if}
                            </div> <!-- /.box-header -->

                            <div class="box-body no-padding">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 10px"><a href="/order/payments/ordid">ID</a></th>
                                        <th><a href="/order/payments/ordcli">Cliente</a></th>
                                        <th><a href="/order/payments/ordpla">Plano</a></th>
                                        <th><a href="/order/payments/ordqtd">Pagamentos</a></th>
                                        <th style="width: 140px">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {loop="$payment"}
                                    <tr>
                                        <td>{$value.idclient}</td>
                                        <td>{$value.desclient}</td>
                                        <td>{$value.desplan}</td>
                                        <td>{$value.qtdpay}</td>
                                        <td>
                                            <a href="/payments/{$value.idclient}/detail" class="btn btn-warning btn-xs"><i class="fa fa-search"></i> Detalhes</a>
                                        </td>
                                    </tr>
                                    {/loop}
                                    </tbody>
                                </table>
                            </div> <!-- /.box-body -->
                        </div>

                        <div class="product-pagination text-center">
                            <nav>
                                <ul class="pagination">

                                    <li><a href="/payments?page=1"><<</a></li>
                                    {loop="$pages"}
                                    <li><a href="{$value.link}">{if="$counter == 2"}<b>{$value.page}</b>{else}{$value.page}{/if}</a></li>
                                    {/loop}
                                    <li><a href="/payments?page={$lastpage}">>></a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section> <!-- /.content -->

        </div> <!-- /.row -->
    </section> <!-- /.content -->
</div>